.container{
    max-width: 138rem;
    margin: 0 auto;
}

.head .head__all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 1.8rem;
}

.head .head__all .head__left{
    display: flex;
    gap: 3.1rem;
    align-items: center;
}

.head .head__all .head__left .aze{
    width: 3.2rem;
    height: 3rem;
    border: 1px solid #D4C8BE;
    border-radius: 5px;
}

.head__rightt__global{
    display: contents;
}

.head__righttt{
    display: none !important;
}


.head .head__all .head__left img{
    width: 2rem;
    height: 2rem;
}

.head .head__all .head__center .homedecor{
    width: 20rem;
    height: 4rem;
    font-family: 'Didot';
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 4rem;
}


.head .head__all .head__right{
    display: flex;
    gap: 3.7rem;
    align-items: center;
}



.head .head__all .head__right .adam img{
    width: 1.6rem;
    height: 2.1rem;
}





.navul ul{
    display: flex;
    gap: 7rem;
    justify-content: center;
    padding-top: 2.7rem;
}

.navul ul li a{
    width: 4.6rem;
    height: 2rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--color-black);
}


.header__img {
    width: 875px;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
 }
 
 .header__img img {
    width: 100%;
 }
 
 .header__body {
    margin-bottom: 350px;
    margin-top: 3.5rem;
 }
 
 .header__desc h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    color: #2D2D2B;
 }
 
 
 .header__desc__sub {
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2D2D2B;
    opacity: 0.8;
    margin-top: 50px;
    margin-bottom: 40px;
 }
 
 .header__desc__btn div {
    display: flex;
    align-items: center;
    column-gap: 22px;
 }
 .header__desc__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 54px;
    background: #B8926A;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #EAE6DF;
 }
 
 .header__desc {
    max-width: 830px;
    padding-top: 124px;
    z-index: 1;
    /* position: absolute; */
 }
 
 .header__desc__sub {
    max-width: 447px;
 }
 
 .header__body__wrapper {
    height: max-content;
    position: relative;
 }
 
 
 .header__img__blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 330px;
    height: 100%;
 
 
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7.5px);
    /* Note: backdrop-filter has minimal browser support */
 
    border-radius: 5px 5px 0px 0px;
 }
 
 @media(max-width: 1380px) {
    .container {
       padding: 0 20px;
    }
 }
 
 @media(max-width: 991px) { 
    .header__body__wrapper {
       display: flex;
       flex-direction: column;
       row-gap: 30px;
    }
    .header__body__wrapper>div {
       flex: 1;
       width: 100%;
    }
    .header__desc {
       position: static;
    }   
 }
 
 @media(max-width: 670px) {
    .header__img__blur {
       display: none;
    }
    .header__desc h1 {
       font-size: 32px ;
       line-height: 36px;
    }
 
    .header__desc__sub {
       font-size: 16px;
       line-height: 24px;
    }
    .header__desc__sub {
       margin-top: 30px;
       margin-bottom: 40px;
    }
  }
 
  @media(max-width: 400px) {
    .header__desc__btn {
       width: 100%;
    }
  }


/* .icice .icice__all{
    display: flex;
    position: absolute;
}

.icice .icice__all .icice__left{
    position: relative;
    z-index: 100;
    top: 16rem;
    left: 8rem;
}


.icice .icice__all .icice__left .body__text{
    position: relative;
    top: 5rem;
    max-width: 47rem;
    max-height: 3.5rem;
}



.icice .icice__all .icice__left button{
    position: relative;
    top: 10rem;
    width: 33rem;
    height: 5.4rem;
    background-color: #B8926A;
    border-radius: 1rem;
    color: var(--color-cream);
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}


.icice .icice__all .icice__right{
    position: relative;
    right: 15rem;
    top: 3.5rem;
}


.icice{
    height: 67rem;
} */


.gred .gred__all{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 30;
    gap: 2rem;

}

.gred .gred__all .gred__box img{
    width: 33rem;
    height: 19.3rem;
    border: 1rem;
}

.gred .gred__all .gred__box .gred__blur{
    position: relative;
    width: 33rem;
    height: 6rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7.5px);
    border-radius: 0rem 0rem 1rem 1rem;
    bottom: 6rem;
    text-align: center;
    padding-top: 2rem;
    color: var(--color-cream);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
}

.coller .gred__all{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 30;
    gap: 2rem;

}

.coller .gred__all .gred__box img{
    margin-top: 5rem;
    width: 44.6rem;
    height: 26.7rem;
    border: 1rem;
}

.coller .gred__all .gred__box .gred__blur{
    position: relative;
    width: 100%;
    height: 6rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7.5px);
    border-radius: 0rem 0rem 1rem 1rem;
    bottom: 6rem;
    text-align: center;
    padding-top: 2rem;
    color: var(--color-cream);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
}

.coller .collerra{
    margin-top: 10rem;
}

.xett{
    margin-top: 10rem;
}

.xett .xet__tt{
    display: flex;
    gap: 2rem;
    justify-content: end;
}

.xett .xet__all{
    
    width: 60.2rem;
    border: 0.4rem solid #B8926A;
    border-radius: 1rem;
    
}

.xett .xet__all .xet__inc{
    width: 138rem;
    border: 1px solid #D4C8BE;
}


.xet{
    margin-top: 28rem;
}

.xet .xet__tt{
    display: flex;
    gap: 1.5rem;
    justify-content: end;
}

.xet .xet__tt .left{
    width: 31px;
    height: 31px;
    background-color: #b8926a88;
    border-radius: 100%;
    text-align: center;
    padding-top: 0.3rem;
    font-size: 2rem;
    color: var(--color-cream);
    z-index: +1;
}

.xet .xet__tt .right{
    width: 31px;
    height: 31px;
    background-color: #B8926A;
    border-radius: 100%;
    text-align: center;
    padding-top: 0.3rem;
    font-size: 2rem;
    color: var(--color-cream);
    z-index: -1;
}

.xet .xet__all{
    
    width: 60.2rem;
    border: 0.4rem solid #B8926A;
    border-radius: 1rem;
    
}

.xet .xet__all .xet__inc{
    width: 138rem;
    border: 1px solid #D4C8BE;
}



.about .about__all{
    display: flex;
    justify-content: space-between;
    margin-top: 12.8rem;
}


.about .about__all .about__left h3{
    width: 26.3rem;
    height: 3.5rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.2rem;
}


.about .about__all .about__left img{
    width: 68rem;
    height: 41.2rem;
    margin-top: 4.9rem;
}




.about .about__all .about__right .about__text{
    width: 56.3rem;
    height: 26.7rem;
    opacity: 80%;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: 12rem;
}



.about .about__all .about__right button{
    width: 33rem;
    height: 5.4rem;
    border: 1px solid var(--color-sabalid);
    background-color: var(--color-cream);
    border-radius: 10px;
    color: var(--color-sabalid);
    margin-top: 5.2rem;
}


.foto{
    background-image: url('../img/Rectangle\ 106.png');
    width: 100%;
    height: 43rem;
    background-size: cover;
    margin-top: 14rem;
}



.foto .foto__all h2{
    padding-top: 6.2rem;
    text-align: center;
    margin: 0 auto;
    width: 50.1rem;
    height: 5.2rem;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 5.2rem;
    color: #FFFFFF;
}

.foto .foto__all .foto__text{
    max-width: 44.5rem;
    height: 5.9rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding-top: 15rem;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
}


.foto .foto__all button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33rem;
    height: 5.4rem;
    background-color: var(--color-sabalid);
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 12rem;
    color: var(--color-cream);
    gap: 2rem;
}

.foto .foto__all button img{
    width: 1.9rem;
    height: 2.5rem;
    margin-right: 1.4rem;
    color: var(--color-cream);
}



/* .prod .prod__text{
    margin-top: 12.8rem;
}

.prod .prod__all{
    margin-top: -32rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.prod .prod__all .prod__box{
    margin-top: 33rem;
}


.prod .prod__all .prod__box .prod__img{
    position: absolute;
    width: 33rem;
    height: 26.7rem;
}

.prod .prod__all .prod__box .prod__img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.prod .prod__all .prod__box .prod__img .icon__heart{
    position: relative;
    width: 4.6rem;
    height: 3.8rem;
    top: 20%;
    left: 80%;
    border-radius: 0.5rem;
    background-color: var(--color-white);
    text-align: center;
}

.prod .prod__all .prod__box .prod__img .icon__heart i{
    font-size: 2.5rem;
    margin-top: 0.7rem;
    color: var(--color-sabalid);
}


.prod .prod__all .prod__box .bordtext .subtitle,.money{
    position: relative;
    top: 33rem;
    margin-top: 2.2rem;

} */






.products__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 45px 20px;
}

.products__item__image {
    width: 100%;
    /* height: 267px; */
    border-radius: 10px;
    overflow: hidden;
}

.products__item__image img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
 
}

.products .products__title{
    margin-top: 12.8rem;
}

.products .products__wrapper{
    margin-top: 5.9rem;
}


.products__item__image {
    position: relative;
}

.products__item__hearth {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 46px;
    height: 38px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-sabalid);
    font-size: 2.5rem;
}

.coller{
    background-color: var(--color-tund);
    width: 100%;
    height: 60.1rem;
    margin-top: 12rem;
}

.cont{
    margin-top: 12rem;
}

.cont .cont__left{
    display: flex;
}

.cont form input,textarea{
    width: 100%;
    padding: 1.7rem 2rem;
    margin-top: 1.5rem;
    border: 0.3rem solid #D4C8BE;
    border-radius: 1rem;
    background-color: var(--color-cream);
}

.cont form textarea{
    resize: vertical;
}

.cont form textarea{
    height: 13.6rem;
}

.cont form button{
    width: 69rem;
    height: 5.4rem;
    background-color: var(--color-sabalid);
    border-radius: 1rem;
    color: var(--color-cream);
    margin-top: 1.5rem;
}

.cont form button .texe{
    width: 7rem;
    height: 1.1rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0 auto;
}

.cont .cont__all{
    display: flex;
    column-gap: 2rem;
}

.cont .cont__all .cont__left{
    flex: 1;
}


.cont .cont__all .cont__right{
    width: 68rem;
    flex-wrap: wrap;
}

.cont .cont__all .cont__right img{
    width: 100%;
}

.end .end__all{
    margin-top: 15rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}



 .nunend, .enfgmail{
    text-align: center !important;
}

.end .end__all .end__logo{
    margin-right: 29rem !important;
}

.end .end__all .end__logo h3{
   
    height: 5.8rem;
    font-weight: 500;
    font-size: 6rem;
    line-height: 5.8rem;
    font-family: 'didot';
}


.end .end__all .end__logo .textend{

    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-top: 2rem;
}

.end .end__all .textend2{

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.end .end__all .numend{
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
}


.end .end__all .endgmail{
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.end .end__all .end__logo{
    margin-right: 29rem !important;
}




@media(max-width: 1384px){
    .gred__box:nth-child(4){
    display: none;
    grid-template-columns: 1fr;
    }
    .gred .gred__all{
        column-gap: 3rem;
        grid-template-columns: repeat(3,1fr);
    }

    .gred__box img{
        width: 100%;
    }

    .gred .gred__all .gred__box .gred__blur{
        width: 100%;
    }

    .xet{
        display: none;
    }
    
    .xett{
        display: none;
    }

    .about .about__all{
        margin-top: 6rem ;
    }

    .about .about__all{
        flex-direction: column;
    }

    .about .about__all .about__right .about__text{
        max-width: 100%;
    }

    .about .about__all .about__left img{
        width: 100%;
        height: auto;
        margin-top: 20rem;
    }
    .head__righttt{
        display: none;
    }

    .cont .cont__all{
        flex-wrap: wrap;
    }

    .cont .cont__all .cont__left{
        text-align: center;
        width: 100rem;
    }

    .cont .cont__all .cont__right{
        padding-top: 5rem;
        margin: 0 auto;
    }
    
}

 @media(max-width: 1260px) {
    .end .end__all .end__logo {
      margin-right: 12rem !important;
    }
 }

  @media(max-width: 1140px) {
    .end__all {
      grid-template-columns: repeat(3, 1fr) !important;
      row-gap: 20px;
    }
    .end .end__all .end__logo {
        margin-right: 6 !important;
      }
    .endgmail {
        text-align: left !important;
    }
 }

@media(max-width: 1070px){
    .navul{
        display: none;
    }
    .head .head__all .head__left{
        display: none;
    }

    .head__righttt {
        display: flex !important ;
    }
    .head__rightt__global {
        display: none !important;
    }

    .gred__box:nth-child(3){
    display: none;
    }
    .gred .gred__all{
        column-gap: 3rem;
        grid-template-columns: repeat(2,1fr);
    }
    
    .gred__box img{
        width: 100%;
    }

    .gred .gred__all .gred__box .gred__blur{
        width: 100%;
    }

    .about .about__all{
        flex-direction: column;
    }

    .about .about__all .about__right .about__text{
        max-width: 100%;
    }

    .foto .foto__all h2{
        max-width: 100%;
        font-size: 2.7rem;
    }

}


@media(max-width: 980px) { 
    .header__body__wrapper {
       display: flex;
       flex-direction: column;
       row-gap: 30px;
       margin-top: -10rem;
    }
    .header__body__wrapper>div {
       flex: 1;
       width: 100%;
    }
    .header__img {
       position: static;
    }   

    .gred__box:nth-child(2){
    display: none;
    height: 50rem;
    }
    .gred .gred__all{
        column-gap: 3rem;
        grid-template-columns: repeat(1,1fr);
    }
    
    .gred__box img{
        width: 100%;
        height: 100%;
    }

    .gred .gred__all .gred__box .gred__blur{
    width: 100%;
    }

    .about .about__all{
        flex-direction: column;
    }

    .about .about__all .about__right .about__text{
        margin-top: 3rem;
        max-width: 100%;
        font-size: 1.3rem;
    }
}

 @media(max-width: 830px) {
    .end__all {
        grid-template-columns: repeat(2, 1fr) !important;
        row-gap: 20px;
      }
      .numend {
        text-align: left !important;
      }
 
 }
 @media(max-width: 720px) {
    .end__all {
        grid-template-columns: repeat(1, 1fr) !important;

      }
      .cont .cont__all {
        display: block;
    }
    .cont .cont__all .cont__left {
        width: 100%;
    }
    .cont .cont__all .cont__right {
        width: 100%;
    }
 }

@media(max-width: 670px) { 
    .cont form button {
        width: 100%;
    }
  
    .header__img__blur {
        display: none;
     }
     .header__desc h1 {
        font-size: 32px ;
        line-height: 36px;
     }
  
     .header__desc__sub {
        font-size: 16px;
        line-height: 24px;
     }
     .header__desc__sub {
        margin-top: 30px;
        margin-bottom: 40px;
     }

      .end__all {
        max-width: 100% !important;
      }
      .end__all div {
        max-width: 90% !important;
      }
}

@media(max-width: 515px){
  
    .about .about__all .about__right button{
        margin-top: 7rem;

    }
    .end .end__all {
        display: block;
    }
}

@media(max-width: 470px) {
    .coller .gred__all .gred__box img{
        width: 36rem;
    }
    .end .end__all .end__logo h3 {
        font-size: 3.6rem;
    }
.end__all div {
    max-width: 90% !important;
    }
}

@media(max-width: 433px){

    .about .about__all .about__right button{
        max-width: 100%;
        margin-top: 20rem;
    }


}

@media(max-width: 400px) {

    .gred .gred__all .gred__box img{
        margin-top: rem !important;
    }
    
    .header__desc__btn {
       width: 100%;
    }

    .foto{
        margin-top: 7rem;
        max-width: 100%;
    }

    .foto .foto__all h2{
        max-width: 100%;
        font-size: 2.7rem;
    }

    .foto .foto__all .foto__text{
        max-width: 100%;
        margin-top: -5rem;
    }

    .foto .foto__all button{
        max-width: 100%;
        margin-top: 17rem;
    }

        .about .about__all .about__left img{
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }
}



@media(max-width: 360px){
    .gred .gred__all .gred__box img {
        margin-top: 10rem !important;
        max-width: 28rem;
        max-height: 17rem;

    }


}

@media(max-width: 320px) {
    .products__wrapper{
        grid-template-columns: 1fr;
    }
    .gred .gred__all .gred__box{
        max-width: 28rem;
    }

    .gred .gred__all .gred__box img {
        max-width: 100%;
        max-height: 17rem;
        margin-top: -30rem !important;
        
    }


    .about .about__all .about__right button{
        max-width: 100%;
        margin-top: 32rem;
    }

    .coller .gred__all{
        margin-top: 35rem;
    }

}


